//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: $black;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  &.loaded {
    .rotator {
      opacity: 1;
    }
  }
}

.hidden {
  width: 0;
  height: 0;
  z-index: -1;
  position: absolute;
  visibility: hidden;
}

$headerHeight: 68px;

.page-title {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  position: absolute;
  height: $headerHeight;
  padding: 10px $padding;
  mix-blend-mode: exclusion;
  background: rgba(255,255,255,.25);
  animation: 30s linear normal infinite rainbow;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.01);
}

.palette {
  width: 100%;
  display: flex;
  .color {
    width: 100%;
    color: #fff;
    flex-grow: 1;
    display: flex;
    min-height: 35vh;
    text-align: right;
    position: relative;
    align-items: flex-end;
    padding: #{$headerHeight + $padding} $padding $padding;
    .-inner {
      width: 100%;
      mix-blend-mode: exclusion;
    }
    .color-name {
      margin: 0;
    }
    .color-hex {
      margin: 0;
      padding: 4px;
      text-transform: uppercase;
      &:focus,
      &:hover {
        outline: none;
        background: rgba(255,255,255,.2);
      }
    }

    .palette-actions {
      margin-right: -10px;

      button {
        padding: 0;
        width: 40px;
        height: 40px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 30px;
        font-weight: 900;
        background: none;
        line-height: 36px;
        margin: 0 0 0 10px;
        mix-blend-mode: exclusion;
        &:hover {
          background: rgba(255,255,255,.25);
        }
      }
    }
  }
}

.comparison,
.result {
  width: 50%;
  float: left;
  height: 65vh;
  padding: 50px;
  h2 {
    color: #fff;
    margin-top: 0;
    mix-blend-mode: exclusion;
  }

  button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    mix-blend-mode: exclusion;
    border: 2px solid rgba(255,255,255,0);
    &:focus {
      outline: none;
    }
    &:hover {
      color: #fff;
      background-color: #000;
      border-color: rgba(255,255,255,1);
    }
  }
}